html
    head
        title jibHaine.github.io !
        link(rel='stylesheet',href='css/index.css')

    body
        h1 jibhaine on github :
        p yeah!
        h2 Projects
        div#projects
        h2 Contributions
        div#contribs
        h2 Elsewhere
        div#network